@import "tailwindcss";

@theme {
  --color-brand-blue: #134c98;
  --color-brand-blue-light: #6588bc;
  --color-brand-gray: #a7a9ac;
  --color-brand-orange: #f37359;
  --color-brand-blue-ultralight: #bec4dc;
  --font-heading: var(--font-montserrat);
}
